doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
        li
            a(href='add') Add Entry
        li
            a(href='chart') Chart
    block content
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')